---
title: Version Control & collaboration
suppress_header: true
canonical_path: "/solutions/version-control/"
extra_css:
  - solutions-v3.css
  - comparison-page-v2.css
  - carousel.css

extra_js:
  - comparison-v2.js
  - bootstrap-tooltip.js
  - carousel.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content-x
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
    %h1 GitLab Version Control & Collaboration
    %p
      GitLab is a comprehensive Version Control and Collaboration solution to deliver better software faster. Efficient code reviews, effective source code management, fast feedback loops, and powerful branching patterns streamline software delivery.<br>
      GitLab helps you deliver faster, more efficiently, and lower risk.


.content-container.padding-vertical20

  .content-container.padding-vertical0.grey-bg
    / ----- This creates a three tile section
    .container
      = partial('includes/solutions/advantage/vcc-2.html.haml')

  .content-container.padding-vertical0.white-bg
    / ----- This creates the Call to Action - Download a Report, E-Book, etc.
    .container
      = partial('includes/solutions/cta/vcc-forrester-tei.html.haml')

  .content-container.padding-vertical0.grey-bg
    / ----- This creates the Demo Video Carousel  The content is in the solutions.yml data file
    .container
      - content = data.solutions.vcc.in_action
      = partial 'includes/solutions/carousel/modal.html.haml'
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })

  .content-container.padding-vertical0.white-bg
    / ----- This creates the recommendation/quote block
    .container
      = partial('includes/solutions/recommendation/vcc-quote.html.haml')

  .content-container.padding-vertical0.grey-bg
    / ----- This creates the Webinar CTA
    .container
      = partial('includes/solutions/webinar/vcc.html.haml')

  .content-container.padding-vertical0.white-bg
    / ----- This creates the Reviews Carousel  The content is in the solutions.yml data file
    .container
      - content = data.solutions.vcc.reviews
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })

  .content-container.padding-vertical0.grey-bg
    / ----- This creates a three tile section
    .container
      = partial('includes/solutions/advantage/vcc-roadmap.html.haml')

  .content-container.padding-vertical0.white-bg
    / ----- This creates the Case Studies Carousel  The content is in the solutions.yml data file
    .container
      - content = data.solutions.vcc.case_studies
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })
