---
layout: demo-page
title: GitLab Demo
suppress_header: true
extra_css:
  - demo-6147-control.css
  - demo-6147-test.css
---
= partial "/experiments/6147-control"
= partial "/experiments/6147-shared"
